<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>登録用リクエスト画面</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
   
  </head>
   <body>
   
         
  メールアドレス登録
  <br>
    <form action="sousinnkannryou.html" th:action="@{/regist/mailkannryou}" method="post" th:object="${registForm}">
    <div th:errors="*{user_email}" style="color:red">エラー！</div><br>
    
   メールアドレス：<input type="text"name="user_email" th:field="*{user_email}"><br>
  
  <button>送信</button>
   </form>
   </body>
</html>